.body{
    background-color: papayawhip;
    text-align: center;

}

.text-page {
    color:palevioletred;
    text-align: center;
}

#choose{
    font-size: 20px;
    text-align: center;
}
a:hover{
    color:burlywood;
}
